# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Documents\.Uni\3rd Year\Concepts of Programming Languages\Assignment1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# intellij files
/.idea/
/Assignment1.iml
#bytcode
/main